<% @comedians.each do |comedian| %>
  <section id="comedian-<%=comedian.id%>">
    <h2><%=comedian.name%></h2>
    <p>Age: <%=comedian.age%></p>
    <p>City: <%=comedian.city%></p>
    <%comedian.specials.each do |special|%>
      <p>Title: <%= special.name%></p>
      <p>Runtime: <%= special.runtime%> minutes </p>
    <%end%>
<% end %>
